ScheduledTrackingRequestsConsoleService/Service References/BsmtServer/ugfservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://uGitFit.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://uGitFit.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://uGitFit.com/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="RetrieveTextToSend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveTextToSendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveTextToSendResult" type="tns:ArrayOfTextToSend" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTextToSend">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TextToSend" nillable="true" type="tns:TextToSend" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TextToSend">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PersonId" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrentLocalTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UserScheduleId" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="LangaugeId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LocalTimeToSend" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDebugNumber" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranslatedText" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateTrackingRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="clientLocalTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="personId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="textSent" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userScheduleId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateTrackingRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateTrackingRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveTextToSendSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveTextToSend" />
  </wsdl:message>
  <wsdl:message name="RetrieveTextToSendSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveTextToSendResponse" />
  </wsdl:message>
  <wsdl:message name="CreateTrackingRequestSoapIn">
    <wsdl:part name="parameters" element="tns:CreateTrackingRequest" />
  </wsdl:message>
  <wsdl:message name="CreateTrackingRequestSoapOut">
    <wsdl:part name="parameters" element="tns:CreateTrackingRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="ugfServiceSoap">
    <wsdl:operation name="RetrieveTextToSend">
      <wsdl:input message="tns:RetrieveTextToSendSoapIn" />
      <wsdl:output message="tns:RetrieveTextToSendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateTrackingRequest">
      <wsdl:input message="tns:CreateTrackingRequestSoapIn" />
      <wsdl:output message="tns:CreateTrackingRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ugfServiceSoap" type="tns:ugfServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveTextToSend">
      <soap:operation soapAction="http://uGitFit.com/RetrieveTextToSend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTrackingRequest">
      <soap:operation soapAction="http://uGitFit.com/CreateTrackingRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ugfServiceSoap12" type="tns:ugfServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveTextToSend">
      <soap12:operation soapAction="http://uGitFit.com/RetrieveTextToSend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTrackingRequest">
      <soap12:operation soapAction="http://uGitFit.com/CreateTrackingRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ugfService">
    <wsdl:port name="ugfServiceSoap" binding="tns:ugfServiceSoap">
      <soap:address location="http://96.42.119.172:8080/ugfservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ugfServiceSoap12" binding="tns:ugfServiceSoap12">
      <soap12:address location="http://96.42.119.172:8080/ugfservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>